[submodule "demo/nt-crtless-runtime/printf"]
	path = demo/nt-crtless-runtime/printf
	url = https://github.com/eyalroz/printf
[submodule "demo/nt-crtless-runtime/phnt"]
	path = demo/nt-crtless-runtime/phnt
	url = https://github.com/winsiderss/phnt.git
